h1{
    width: 100%;
    text-align: center;
    color: red;
}
h4{
    width: 100%;
    color: rgb(17, 160, 185);
    float: left;
    margin-left: 570px;
    margin-top: 20px;
    font-family: 'Trattatello';
    font-size: 20px;
}

.exo{
    width: 95%;
    height: 10%;
    margin-top: 10px;
    background-color: black;
    text-align: center;
    padding: 30px;
}
.exo a{

    width: 100%;
    height: 50%;
    margin-left: 10px;
    margin-top: 50px;
    border: white 2px solid;
    color: red;
    padding:10px;
    }
    